.navigation {
  position: fixed; 
  top: 0;   
  width: 100%;
  background: #111;
}

.bg_image_01 {
  background-image: url("images/people_happy.png");
  opacity: 0.8;
  min-height: 1000px; 
}

.bg_image_02 {
  background-image: url("images/happy_grandma.png");
  opacity: 0.7;
  min-height: 500px;
}

.bg_image_03 {
  background-image: url("images/happy_lady.png");
  opacity: 0.7;
  min-height: 500px;
}

.bg_image_01, .bg_image_02, .bg_image_03 {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat; 
  background-size: cover;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.caption_border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

.textbox-light {
  color: #777;
  background-color: white;
  text-align: center;
  padding: 50px 80px;
  text-align: justify;
}

.textbox-dark {
  color: #ddd;
  background-color: #282E34;
  text-align: center;
  padding: 50px 80px;
  text-align: justify;
}

.column {
  flex: 25%;
  max-width: 25%;
  padding: 4px;
  align-content: center;
}

.column img {
  /* margin-top: 8px; */
  width: 100%;
  height: 200px;
  width: 250px;
  margin-bottom: 30px;
}
