<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="UTF-8">
    <title> Histogram </title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="../static/css/style.css">
	
</head>

<body>
	<div class="navigation">
		<nav class="navbar navbar-expand-lg navbar-dark">
			<a href="/"><img src="../static/images/earth_happy_02.png" alt="Happy Earth" style="width:40px;height:40px;"></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
			</button>
	
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="nav-link" href="/"> About: Project Summary </a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/map"> Map </a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/histogram"> Histogram </a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/scatter"> Scatter </a>
				</li>
				<!-- <li class="nav-item">
					<a class="nav-link" href="/line"> Line </a>
				</li> -->
				<li class="nav-item">
					<a class="nav-link" href="/datatable"> Data Table</a>
				</li>
			</ul>
			</div>
		</nav>
	</div>


<div class="bg_image_04">
	<div class="caption">
		<span class="caption_border"> Histogram Charts</span>
	</div>
</div>

<div class="textbox-light">
	<div class="col-md-12 table_container ">
		
		<h5>Select Year:</h5>
		<select id="selDataset">
		<option>Choose a Year</option>
		</select>
		<p>Histograms are commonly used in statistics to demonstrate how many of a certain type of variable occurs within a specific range. Apart from showing the frequency, histograms are also used to represent outliers and the span of the data. Below are histogram showing the happiness rating across the world and all continents.  It can be seen from below that we are lucky enough to live in one of the happier continents and that the world is becoming a happier place over the years especially the countries in Asia.</p>
		
		<div class="histogram">
		</div>

		<div class="row">
			<div class="col">
				<div class="histogram-asia">
			</div>
		</div>
				<div class="histogram-africa">
			</div>
		</div>

		<div class="row">
			<div class="col">
				<div class="histogram-southamerica">
			</div>
		</div>
				<div class="histogram-northamerica">
			</div>
		</div>

		<div class="row">
			<div class="col">
				<div class="histogram-europe">
			</div>
		</div>
				<div class="histogram-oceania">
			</div>
		</div>	
	</div>
</div>




<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="../static/js/histogram.js"></script>

</body>
</html>
