<!DOCTYPE html>
<html lang="en-us">
<!-- or you can use lang="en" -->

<head>
    <meta charset="UTF-8">
    <title> World Happiness</title>

	<!-- for bootstrap -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="style.css">
</head>

<div class="navigation">
	<nav class="navbar navbar-expand-lg navbar-dark">
		<a href="index.html"><img src="images/earth_happy_02.png" alt="Happy Earth" style="width:40px;height:40px;"></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link" href="#"> About: Project Summary </a>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Visualisations
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" href="#">Chart 1</a>
					<a class="dropdown-item" href="#">Chart 2</a>
					<a class="dropdown-item" href="#">Chart 3</a>
					<a class="dropdown-item" href="#">Chaft 4</a>
				</div>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#"> Data </a>
			</li>
		</ul>
		</div>
	</nav>
</div>


<div class="bg_image_01 main">
	<div class="caption">
		<span class="caption_border"> World Happiness Report </span>
	</div>
</div>

<div class="textbox-light">
	<h3 style="text-align: center;"> About </h3>
	<p> This is a brief summary of our project and what this data is about... and what visualisation our data represents.</p>
</div>

<div class="bg_image_02">
	<div class="caption">
		<span class="caption_border"> Finding The Happiest Place on Earth </span>
	</div>
</div>

<div class="textbox-dark">
	<h3 style="text-align: center;"> Visualisations </h3>
	<p> Click on snapshoots of all the charts to view them.</p>
	<div class="row">
		<div class="column">
			<a href="index.html"><img src="images/bar_graph.png" alt="Chart Placeholder"></a>
			<a href="index.html"><img src="images/line_graph.png" alt="Chart Placeholder"></a>
		</div>
		<div class="column">
			<a href="index.html"><img src="images/line_graph.png" alt="Chart Placeholder"></a>
			<a href="index.html"><img src="images/bar_graph.png" alt="Chart Placeholder"></a>
		</div>
		<div class="column">
			<a href="index.html"><img src="images/bar_graph.png" alt="Chart Placeholder"></a>
			<a href="index.html"><img src="images/line_graph.png" alt="Chart Placeholder"></a>
		</div>
		<div class="column">
			<a href="index.html"><img src="images/line_graph.png" alt="Chart Placeholder"></a>
			<a href="index.html"><img src="images/bar_graph.png" alt="Chart Placeholder"></a>
		</div>
	</div>
</div>

<div class="bg_image_03">
	<div class="caption">
		
		<span class="caption_border"> Numbers & Happiness </span>
	</div>
</div>

<div class="textbox-dark">
	<h3 style="text-align: center;"> Data </h3>
	<p> link to the data, so conversion of csv to tables</p>
</div>


<body>

	




<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


</body>

</html>