<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="UTF-8">
    <title> World Happiness</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>

<body>
<div class="navigation">
	<nav class="navbar navbar-expand-lg navbar-dark">
		<a href="/"><img src="../static/images/earth_happy_02.png" alt="Happy Earth" style="width:40px;height:40px;"></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link" href="/"> About: Project Summary </a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/map"> Map </a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/histogram"> Histogram </a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/scatter"> Scatter </a>
			</li>
			<!-- <li class="nav-item">
				<a class="nav-link" href="/line"> Line </a>
			</li> -->
			<li class="nav-item">
				<a class="nav-link" href="/datatable"> Data Table</a>
			</li>
		</ul>
		</div>
	</nav>
</div>


<div class="bg_image_01">
	<div class="caption">
		<span class="caption_border"> World Happiness Report </span>
	</div>
</div>

<div class="textbox-light">
	<h3 style="text-align: center;"> About </h3><br>
	<p>In this project we explored The Happiness Index around the world.</p>
	<p>As defined by the Happiness Council in 2012:</p>
	<p>"The Happiness Index is defined as the weighted (by sampling weights) rate of respondents reporting “Very happy” or “Quite happy” less the weighted rate of respondents reporting “Not very happy” or “Not at all happy,” plus 100. The index thus ranges from 0 to 200"</p><br>
	<p>There are 7 key metrics of measurement that together, make up the final Happiness Index. Thes 7 areas of measurement are: </p>
	<p><b>GDP Per Capita &emsp; Social Support &emsp; Life Expectancy &emsp; Freedom &emsp; Generosity &emsp; Corruption &emsp; Happiness Rating</b></p>
</div>

<div class="bg_image_02">
	<div class="caption">
		<span class="caption_border"> Where is The Happiest Place on Earth </span>
	</div>
</div>

<div class="textbox-dark">
	<h3 style="text-align: center;"> Visualisations </h3><br>
	<p style="text-align: center;"> Click on an image below to view the charts and graphs</p><br>

	<div class="vis-row">
		<div class="vis-column">
			&emsp;&emsp;&emsp;&emsp;&emsp;<a href="/map"><img src="../static/images/map.png" alt="Chart Placeholder" style="width: 250px; height: 250px;"></a>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
			<a href="/histogram"><img src="../static/images/histogram.png" alt="Chart Placeholder" style="width: 250px; height: 250px;"></a>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
			<a href="/scatter"><img src="../static/images/scatter.png" alt="Chart Placeholder" style="width: 250px; height: 250px;"></a>
		</div>
	</div>

</div>

<div class="bg_image_03">
	<div class="caption">
		
		<span class="caption_border"> Numbers & Happiness </span>
	</div>
</div>

<div class="textbox-dark">
	<h3 style="text-align: center;"> Data </h3><br>
	<p>An overview of the 7 metrics and what they measure:</p>
	<p><b>GDP Per Capita:</b> Gross Domestic Product is the value of all the goods and services a country produces on a yearly basis</p>
	<p><b>Social Support:</b> “If you were in trouble, do you have relatives or friends you can count on to help you whenever you need them, or not?” (YES) 1 point (NO) 0 point</p>
	<p><b>Life Expectancy:</b> The estimate for the average number of “healthy” years a child at birth is estimated to live</p>
	<p><b>Freedom:</b> “Are you satisfied or dissatisfied with your freedom to choose what you do with your life?” (YES) 1 point (NO) 0 point</p>
	<p><b>Generosity:</b> Have you donated money to a charity in the past month?” (YES) 1 point (NO) 0 point</p>
	<p><b>Corruption:</b> “Is corruption widespread throughout the government or not?” &ensp; “Is corruption widespread within businesses or not?” Average of answers is recorded (YES) 1 point (NO) 0 point</p>
	<p><b>Happiness Rating:</b> Refers to how much of the Happiness Index cannot be explained by social measures and the other metrics.</p><br>
	<p><i>Where questions are asked, these are answered by applicants in the Gallup World Poll, where The Happiness Report sources their data.</i></p>
	<p>The dataset we used was found on Kaggle <i>(which has been linked below)</i>. We choose data that was collated from years 2011 to 2020</p><br>
	<p><a href="https://github.com/Kritikaag/project2">GitHub Code Repo</a> &emsp; <a href="https://www.kaggle.com/ajaypalsinghlo/world-happiness-report-2021">Data Set</a></p>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>
